@import "utils/vars";

.input {
  height: 46px;
  padding-left: 17px;
  box-sizing: border-box;
  background: #f7f8ff;
  border: 1px solid $c-white;
  border-radius: 8px;
  font-size: 14px;
  color: #b9c1ce;

  &:hover {
    border: 1px solid $c-active;
  }

  &:focus {
    -webkit-box-shadow: 3px 3px 6px 0 rgba(0,117,255,0.8);
    -moz-box-shadow: 3px 3px 6px 0 rgba(0,117,255,0.8);
    box-shadow: 3px 3px 6px 0 rgba(0,117,255,0.8);
  }
}
